.container-home{
    .intro{
        .padding-top();
        display: flex;
        justify-content: center; 

        img{
            width: 100%;

            @media @mobile {
                border-radius: 5px;
            }
        }
    }

    #splitfounded{
        margin: 2%;
        line-height: 1.5;

        h1{
            font-size: 5rem;
        }
        p{
            font-size: 2.5rem;
        }
    }

    #features{
        margin: 2%;
        line-height: 1.5;

        h1{
            font-size: 5rem;
            text-align: center;
            padding-bottom: 3%;
        }
    }

    .lists{
        display: flex;
        justify-content: space-between;

        .current-features-list, .coming-soon-feat-list{
            width: 48%;

            h3{
                font-size: 4rem;
            }

            ul{
                list-style-type: square;
                margin-left: 3%;

                li{
                    font-size: 2rem;
                }
            }

        }
    }

    #meet-the-team-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;

        h1{
            text-align: center;
            margin-top: 2%;
            margin-bottom: 2%;
            font-size: 4rem;
        }
        
        .team-intros{
            display: flex;
            justify-content: space-between;
            //align-content: space-between;

            .project-lead, .ui-1, .ui-2, .react1, .react2-1, .react2-2, .backend{
                width: 13%;
                border: 3px solid black;
                border-radius: 5px;
                line-height: 1.2;
                display: flex;
                flex-direction: column;
                align-content: center;

                h2{
                    font-size: 3rem;
                }
                h3{
                    font-size: 2rem;
                }
                img{
                    width: 100%;;
                }
            }
        }
    }

    .fab{
        text-align: center;
    }

    .fa-github-square{
        color: darkolivegreen;
        font-size: 4rem;
        padding-left: 40%;
    }
}