.container-home{
    .intro{
        .padding-top();
        display: flex;
        justify-content: center; 

        img{
            width: 100%;

            @media @mobile {
                border-radius: 5px;
            }
        }
    }




    .fa-github-square{
        color: darkolivegreen;
        font-size: 4rem;
    }

}